.homeContainer {
  padding: 3.5em 1em 3.5em 1em;
  overflow: auto;
  height: 100%;
}

/* + means the rhs is a sibling of the lhs (not a descendent)  */
.homeContainer + .actionBtn {
  display: flex;
  align-items: center;
  padding: 4em 1.5em 2em 1.5em;
  position: sticky;
  bottom: 0;
  background-image: linear-gradient(transparent 20%, #f2f0e4 80%);
}

.homeContainer + .actionBtn button svg {
  font-size: 1.3em;
}

.homeContainer + .actionBtn button {
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.homeContainer + .actionBtn > button:first-child {
  border-radius: 2em;
  background-color: #28ae61;
  color: #fff;
  padding: 0.3em 1em;
  font-size: 1.1em;
  font-weight: 400;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.homeContainer + .actionBtn > button:nth-child(2) {
  line-height: 1;
}

.homeContainer + .actionBtn > button:nth-child(2) svg {
  color: var(--textColor);
}
